*{
    margin: 0;
    padding: 0;
    
    }
    
    header{
        display: flex;
        justify-content: space-between;
        background-color: rgba(20, 20, 20, 0.925);
        color: white;
    }
    
    body{
        background-image: url(./imagenes/fondo2\ hp.jpg);
    }
    
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
       
    }
    
    li{
        margin: 10px;
        font-family: calibri;
    
    }
    
    img{
        border-radius: 100%;
        height: 10%;
        width: 10%;
    }